#pizza{
  color: green;
  font-size:15px;
  font-family: Century Gothic;
}

#language {
  color: violet;
  font-weight:bold;
  font-family: Century Gothic;
}


@media only scren and (min-wodth: 992px) and (max-width:1200px) {
  body {
    background-color: red;
  }
  
  .respond {
    font-size: 20px;
  }
}

@media only screen and 